@import url(http://fonts.googleapis.com/css?family=Chela+One);

#submitbutton{
      font-size: 60;
}

.ui-header .ui-title {
    font-size: 20px;
    font-family: "Calibri", sans-serif;
    margin-left: -100px;
}

.ui-header .ui-title a:link{
    color: white;
    text-decoration: none;
}
.ui-header .ui-title a:visited{
    color: white;
    text-decoration: none;
}

.ui-header .ui-title a:hover{
    color: white;
    text-decoration: none;
}

.ui-header .ui-btn-inner {
    font-size: 15px;
}

.ui-header .ui-btn-right {
    top: 13%;
    vertical-align: middle;
}

.ui-btn-inner {
    overflow: visible;
}

.ui-footer .ui-btn-text{
    font-size: 15px;
}

.ui-li .ui-btn-text a.ui-link-inherit{
    white-space: normal;
    font-size: 13px;
}

#username{
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    float: left;
    margin-left: 3%;
}

#city {
    font-size: 13px;
    text-align: left;
    font-weight: normal;
}

#fbpic{
    float: left;
    margin-left: 3%;
}

.fbuserdetails {
    float: left;
    margin-left: 5%;
    /*padding-right: 20%;*/
    /*padding-left: 3%;*/
    /*border-style: solid;*/
    /*border-width: 1px;*/
    /*border-color: #d3d3d3;*/
}

#userpoints {
    margin-left: 3%;
    padding-top: 15px;
    font-size: 15px;
    color: grey;
    clear: both;
}

#userpoints-number {
    font-size: 50px;
    margin-top: 1%;
    color: black;
}

#fb-logout-btn {
    position: absolute;
    bottom: 40px;
    right: 2%;

}

#leaderboard{
    margin-left: 3%;
    margin-right: 3%;
}
