@import url(http://fonts.googleapis.com/css?family=Arvo);

h2, h3 {
    font-family: "Arvo", sans-serif;
}


a:visited {
    color: #556b2f;
    text-decoration: none;
}


.header-left{
    float: left;
    width: 50%;
    color: green;
    text-align: center;
    background-image:url('../img/temp_birdsquare_logo.jpeg');
}
.header-right{
    float: right;
    width: 50%;
    color: black;
    text-align: center;
    background: #9acd32;
}

#footer-container{
    color: #556b2f;
    text-align: center;

}

.footer-left {
    float: left;
    width: 33%;
    background: yellow;
}


.footer-center {
    float: left;
    width: 33%;
    background: yellow;
}


.footer-right {
    float: left;
    width: 33%;
    background: yellow;
}

#main-content {
    height: 90%;
    font-family: "Arial";
}


